<launch>
  <group ns="robot1">
    <arg name="project" default="wild_align"/>
    
    <!-- Load Parameters-->
    <rosparam file="$(find wild_align)/config/robot1.yaml" command="load" />

    <!-- Launch CSLAM Nodes-->
    <include file="$(find wild_align)/launch/include/nodes.launch"/>

    <!-- Launch Rvis-->
    <include file="$(find wild_align)/launch/include/rvizR1.launch"/>
    
  </group>
</launch>
