<launch>
  <group ns="robot2">
    <arg name="project" default="wild_slam"/>
    
    <!-- Load Parameters-->
    <rosparam file="$(find wild_slam)/config/params.yaml" command="load" />

    <!-- Launch CSLAM Nodes-->
    <include file="$(find wild_slam)/launch/include/nodes.launch"/>

    <!-- Launch Rvis-->
    <include file="$(find wild_slam)/launch/include/rviz.launch"/>
    
  </group>
</launch>
